@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes running {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.animated-3d-running {
  animation: running infinite;
}